@{
    ViewData["Title"] = "Quotes";
}

@model List<Quote>

<h1 class="text-center">Quotes</h1>
<br />

<table class="table table-bordered table-striped">

    <thead class="font-weight-bold">
        <tr>
            <td>Quote</td>
            <td>Author</td>
            <td>Date</td>
            <td>Subject</td>
            <td>Citation</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var q in Model)
        {
            <tr>
                <td>@q.TheQuote</td>
                <td>@q.Author</td>
                <td>@q.Date</td>
                <td>@q.Subject</td>
                <td>@q.Citation</td>
       

                <td><a asp-controller="Home" asp-action="Edit" asp-route-quoteid="@q.QuoteId">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-quoteid="@q.QuoteId">Delete</a></td>
            </tr>
        }
    </tbody>

</table>